body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#canvas:not(.loaded) {
  display: none;
}

#terminal {
  padding: 10px;
  display: block;
  color: #AAA;
  font-family: Terminal, Courier, monospace;
}

#canvas.loaded + #terminal {
  display: none;
}

.underline {
  animation: blink 1s linear infinite;
}

#loader:after {
  content: '|';
  animation: loading 0.5s linear infinite;
}

@keyframes blink {
  0% {
    color: inherit;
  }
  50% {
    color: inherit;
  }
  51% {
    color: black;
  }
  100% {
    color: black;
  }
}

@keyframes loading {
  0% {
    content: '|';
  }
  25% {
    content: '/';
  }
  50% {
    content: '-';
  }
  75% {
    content: '\\';
  }
  100% {
    content: '|';
  }
}
